{% extends 'layout.html' %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/insert.css') }}">
{% endblock %}
{%  block content %}
<form action="/insert" method='post'>
  <p>Tên công ty</p>
  <input type="text"  name='business_name'required>
  <p>Người đại diện</p>
  <input type="text"  name='agent'>
  <p>Chức vụ</p>
  <input type="text"  name='possition'>
  <p>Số điện thoại</p>
  <input type="tel"  name='phone'>
  <p>Địa chỉ</p>
  <input type="text"  name='address'>
  <p>Người liên lạ</p>
  <input type="text"  name='contact_person'>
  <p>Số điện thoại người liên lạc</p>
  <input type="tel"  name='contact_phone'>
  <p>Số fax</p>
  <input type="tel"  name='fax'>
  <p>Mã số thuế</p>
  <input type="number"  name='tax_number'>
  <p>Số khoản ngân hàng</p>
  <input type="number"  name='bank_account'>
  <p>Tên Ngân hàng</p>
  <input type="text"  name='bank_name'>
  <p>Giá trị hợp đồng</p>
  <input type="number"  name='contact_value'>
  <p>Ngày cần gọi</p>
  <input id='datetimepicker' type="datetime"  name='date_to_call' required>
  <!-- <input type="text"  name='contact_value_letter'> -->

  <select name="status">
    <option value="to_call">Cần gọi</option>
    <option value="calling">Đang gọi</option>
    <option value="waiting">Đã gọi</option>
  </select>
  <input type="submit" value="Lưu">
</form>




{% endblock %}
